<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dojos and Ninjas</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous">
    </head>
    <body>
        <h1 class="d-flex justify-content-center my-4">{{ dojo.name }} Ninjas</h1>
        <div class="table-responsive-md text-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Age</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ninja in dojo.ninjas %}
                    <tr>
                        <td>{{ninja.first_name}}</td>
                        <td>{{ninja.last_name}}</td>
                        <td>{{ninja.age}}</td>
                        <td>
                            <a href="/ninjas/edit/{{ ninja.id }}">Edit</a> |
                            <a href="/ninjas/delete/{{ ninja.id }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/" class="btn btn-primary">Home</a>
    </body>
    </body>
</html>