<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Dojos and Ninjas</title>
</head>
<body>
    <form action="/ninjas/update" method="POST" class="p-3 col-4 mx-auto my-5 bg-dark text-light">
        <h2 class="text-center text-primary">Edit {{ninjas['first_name']}}:</h2>
        <input type="hidden" name="id" value="{{ninjas.id}}">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control" value="{{ninjas['first_name']}}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control"value="{{ninjas['last_name']}}">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" name="age" class="form-control" value="{{ninjas['age']}}">
        </div>
        <input type="submit" value="Update" class="btn btn-primary btn-outline-dark">
    </form>
</body>
</html>
